.importance {
    flex-direction: column;
    padding: min(50px, 10%);
}
h2 {
    font-size: 45px;
    margin-bottom: 40px;
}
.cards {
    flex-wrap: wrap;    
    gap: 50px;
    align-items: flex-start;
}
.card {
    width: max(29%, 300px);
    flex-direction: column;
    word-wrap: break-word;
    padding: 10px;
}
h3 {
    font-size: 30px;
}
.card p {
    font-size: 20px;
    text-align: center;
}